{port_specs, [{"priv/mruby.so", ["c_src/mruby.c"]}]}.

{port_env, [
            {"darwin9.*-64$", "CXXFLAGS", "-m64"},
            {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

            {"DRV_CFLAGS", "$DRV_CFLAGS -I deps/mruby/include"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS deps/mruby/build/host/lib/libmruby.a"}
           ]}.
